/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

:root {
  --dark-grey: hsl(217, 19%, 35%);
  --medium-grey: hsl(214, 17%, 51%);
  --light-grey: hsl(212, 23%, 69%);
  --lightest-grey: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: 0.2rem dotted var(--dark-grey);
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  background-color: var(--lightest-grey);
  color: var(--dark-grey);
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

::-moz-selection {
  background-color: var(--dark-grey);
  color: #fff;
}

::selection {
  background-color: var(--dark-grey);
  color: #fff;
}

.container {
  width: 85%;
  max-width: 80rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: visible;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
}

@media (min-width: 600px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.preview {
  margin: 6em 0 2em;
  position: relative;
}
.preview__img {
  width: 100%;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 25%;
     object-position: 0% 25%;
  border-radius: 1rem 1rem 0 0;
}
@media (min-width: 600px) {
  .preview__img {
    max-height: 100%;
    width: 39%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
    border-radius: 1rem 0 0 1rem;
  }
}
.preview__content {
  width: 80.5%;
  margin: 3em auto;
  padding-bottom: 1.5em;
  position: relative;
}
@media (min-width: 600px) {
  .preview__content {
    width: 46%;
    padding-bottom: 0;
  }
}
.preview__heading {
  font-size: 1.6rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .preview__heading {
    font-size: 2rem;
  }
}
.preview__text {
  color: var(--medium-grey);
  margin: 1em 0 2.5em;
  line-height: 1.5;
}
.preview__author {
  margin-bottom: -0.29em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.preview__author-img {
  width: 4rem;
  border-radius: 10rem;
  margin-right: 1em;
}
.preview__author-name-date {
  line-height: 1.5;
}
.preview__author-name {
  font-weight: 700;
}
.preview__author-date {
  color: var(--light-grey);
}
.preview__share-link {
  margin-left: auto;
  background-color: var(--lightest-grey);
  padding: 0.8em;
  border-radius: 10rem;
  position: relative;
  z-index: 1;
}
.preview__share-link:hover {
  background-color: var(--light-grey);
}
.preview__share-link:hover .preview__share-img {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg)
    brightness(102%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg)
    brightness(102%) contrast(102%);
}

.share {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.3em 0;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--dark-grey);
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
@media (min-width: 600px) {
  .share {
    padding: 1.5em 0;
    border-radius: 1rem;
    max-width: 20rem;
    right: 7.3rem;
    bottom: 10.5rem;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .share::before {
    content: '';
    position: absolute;
    top: 96%;
    left: 60%;
    -webkit-transform: translateX(-50%) rotate(7deg);
        -ms-transform: translateX(-50%) rotate(7deg);
            transform: translateX(-50%) rotate(7deg);
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 1.9rem solid var(--dark-grey);
  }
}
@media (min-width: 750px) {
  .share {
    right: 8.1rem;
  }
}
@media (min-width: 850px) {
  .share {
    right: 8.9rem;
  }
}
@media (min-width: 1000px) {
  .share {
    max-width: 26rem;
    right: 7.7rem;
  }
  .share::before {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 50px;
    width: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    background-color: currentColor;
    border-left: unset;
    border-right: unset;
    border-top: unset;
  }
}
.share__content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  gap: 1em;
  position: relative;
}
@media (min-width: 600px) {
  .share__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: unset;
  }
}
.share__text {
  color: var(--light-grey);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.share__link:focus {
  outline: 0.2rem dotted var(--lightest-grey);
}
.share__link:hover {
  opacity: 0.8;
}
@media (prefers-reduced-motion: no-preference) {
  .share__link:hover {
    -webkit-animation: scale 0.75s ease-in-out;
            animation: scale 0.75s ease-in-out;
  }
}

.hidden {
  display: none;
}

.dark-btn {
  background-color: var(--medium-grey);
}
.dark-btn:focus {
  outline: 0.2rem dotted var(--medium-grey);
}

.lighten-arrow {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg)
    brightness(102%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg)
    brightness(102%) contrast(102%);
}

.attribution {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.attribution__link {
  color: var(--medium-grey);
  text-decoration: none;
}
.attribution__link:hover {
  color: var(--dark-grey);
  border-bottom: 0.2rem solid var(--dark-grey);
}
.attribution__link:visited {
  color: var(--medium-grey);
  border-bottom: 0.2rem dotted var(--dark-grey);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
